<!DOCTYPE HTML>
<html>
<head>


<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<style type="text/css">
html {
  line-height: 5;
} 
table[Attributes Style] {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    border-left-color: rgb(255, 0, 0);
    float: left;
}

table#table1 {
    width: 10px;
}

table#table2 {
    width: 10px;
}

button.btn.waves-effect.waves-light {
    margin-left: 17cm;
}

</style>

</head>
<body>

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Hilti Chatbot Admin Portal</a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="intentreport.html">Intent Verification</a></li>
        <li><a href="productreport.html">Product Verification</a></li>
        <li><a href="analytics.html">Analytics</a></li>
      </ul>
    </div>
</nav>

<table class="striped">
  <thead>
    <tr>
        <th>User Name</th>
        <th>Query</th>
        <th>Reported Intent</th>
        <th>System Intent</th>
        <th>Approve</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for row in x %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td><a class="btn waves-effect waves-light" href="{{row[4]}}">Approve</a></td>
      <td>{{ row[6] }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>

</body>
</html>

